@model Movies_Management_System.Models.ViewModels.DetailsMovie
@{
    ViewBag.Title = "View";
}

<div class="container">
    <div class="detailCont">

        @{
            string imageurl = "/Content/Images/Movies/default.png";
            if (Model.SelectedMovie.MovieHasPic)
            {
                imageurl = "/Content/Images/Movies/" + Model.SelectedMovie.MovieID + "." + Model.SelectedMovie.PicExtension;
            }
        }

        <div class="movie-poster">

            @*  for presenting demonstration
                <div><img alt="@Model.SelectedMovie.MovieTitle" src="~/Content/Images/Movies/@Model.SelectedMovie.MovieID .jpg" /></div> 
            *@
            <div><img alt="@Model.SelectedMovie.MovieTitle" src="@imageurl" /></div>
        </div>


        <h2>@Model.SelectedMovie.MovieTitle</h2>

        <div class="assoClient">
            <h3>Clients associated with <strong>'@Model.SelectedMovie.MovieTitle'</strong></h3>
            <div class="clientsContainer">
                <table id="SlctTable">
                    <tr>
                        <th id="thID">Client ID</th>
                        <th id="thName">Client Info</th>
                    </tr>
                    @foreach (var Client in Model.LinkedClients)
                    {
                        <tr>
                            <td id="tddID"><a href="/Client/Details/@Client.ClientID">@Client.ClientID</a></td>
                            <td id="tddName"><a href="/Client/Details/@Client.ClientID">@Client.ClientName - @Client.ClientLocation</a><a href="/Movie/Unassociate/@Model.SelectedMovie.MovieID?ClientID=@Client.ClientID">[x]</a></td>
                        </tr>
                    }
                </table>
            </div>
            <div class="addFav">
                <h4>Add a new client who loves <strong>'@Model.SelectedMovie.MovieTitle'</strong></h4>
                <form method="POST" action="/Movie/Associate/@Model.SelectedMovie.MovieID">
                    <select name="ClientID">
                        @foreach (var Client in Model.AvailableClients)
                        {
                            <option value="@Client.ClientID">@Client.ClientName - @Client.ClientLocation</option>
                        }
                    </select>
                    <input type="submit" value="Link Client" id="linkBtn" />
                </form>
            </div>

            <div class="btnContainer">
                <div class="btn backBtn">
                    <a href="/Movie/List">Back</a>
                </div>
                <div class="btn editBtn">
                    <a href="/Movie/Edit/@Model.SelectedMovie.MovieID">Update</a>
                </div>
                <div class="btn delBtn">
                    <a href="/Movie/DeleteConfirm/@Model.SelectedMovie.MovieID">Delete</a>
                </div>
            </div>

        </div>
    </div>

    <div class="details">
        <p>Movie ID: @Model.SelectedMovie.MovieID</p>
        <p>Publication Year: @Model.SelectedMovie.PubYear</p>
        <p>Title: @Model.SelectedMovie.MovieTitle</p>
        <p>Director: @Model.SelectedMovie.Director</p>
        <p>Ratings: @Model.SelectedMovie.Ratings</p>
        <p>Genre: @Model.SelectedMovie.GenreName</p>
    </div>

</div>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        h2 {
            margin-top: 7em;
            margin-left: 1.5em;
            font-weight: 600;
            font-family: Arial, sans-serif;
            background: #134DED;
            background: linear-gradient(to top right, #121FCF 0%, #CF1512 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .btnContainer {
            display: flex;
            flex-flow: row;
            justify-content:space-around;
            margin-top:5em;
        }
        .btn {
            border: none;
            border-radius: 5px;
            color: black;
            cursor: pointer;
            font-size: 16px;
            padding: 10px 20px;
        }

        .delBtn {
            background-color:darkred;
            transition: box-shadow 0.2s ease-in-out;
        }

            .delBtn:hover {
                background-color: orangered;
            }

        .editBtn {
            background-color: greenyellow;
            border: 2px solid #00cc00;
            transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        }
            .editBtn:hover {
                background-color: mediumspringgreen;
                border-color: #009900;
            }

        .backBtn {
            background-color: darkblue;
            position: relative;
        }
            .backBtn:hover {
                background-color: deepskyblue;
                border-color: #009900;
            }

        .container {
            max-width: 100%;
            margin: 0 auto;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
        }
        .detailCont {
            display: flex;
            flex-flow: row;
        }
        .assoClient {
            margin-left: 5em;
            margin-top: 7em;
        }
        #SlctTable {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3em;
            white-space: nowrap;
        }
        .details {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            margin-top: 2em;
            margin-bottom: 1.5em;
            font-weight: 800;
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #134DED 0%, #21B8CF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        #thID, #thName {
            width: 100px;
            text-align: center;
        }
        .addFav {
            text-align: center;
        }
        .movie-poster {
            max-width: 300px;
            margin-right: 30px;
        }
            .movie-poster img{
                max-width:350px;
            }
    </style>
