@model Movies_Management_System.Models.ViewModels.UpdateMovie

@{
    ViewBag.Title = "Edit";
}

<h1>Movies Management System</h1>
<h2>Update A Movie</h2>




<form action="/Movie/Update/@Model.SelectedMovie.MovieID" method="POST">
    <div style="display:none;">
        @* Pass through the Movie ID *@
        <input type="text" name="MovieID" value="@Model.SelectedMovie.MovieID" />
    </div>
    <div class="editInput">
        <label>Movie Title:</label> <input type="text" name="MovieTitle" value="@Model.SelectedMovie.MovieTitle" />
    </div>
    <div class="editInput">
        <label>Publication Year:</label> <input type="number" name="PubYear" value="@Model.SelectedMovie.PubYear" />
    </div>
    <div class="editInput">
        <label>Movie Director:</label> <input type="text" name="Director" value="@Model.SelectedMovie.Director" />
    </div>
    <div class="editInput">
        <label>Movie Ratings:</label> <input type="number" name="Ratings" value="@Model.SelectedMovie.Ratings" />
    </div>
    <div class="editInput">
        <label>Movie Genre:</label>

        <select name="GenreID">
            @foreach (var genre in Model.GenreOptions)
            {
                string selected = "";
                if (genre.GenreID == Model.SelectedMovie.GenreID)
                {
                    selected = "selected";
                }
                <option value="@genre.GenreID" @selected>@genre.GenreName</option>

            }
        </select>
    </div>
    <div class="editInput upBtn">
        <input type="file" name="MoviePic" />
    </div>



    <div id="btnContainer">
        <div>
            <input type="submit" value="Update Movie" id="editBtn" />
        </div>
        <div>
            <a id="backbtn" href="/Movie/List">Back to List</a>
        </div>
    </div>
</form>

<style>
    body {
        text-align: center;
    }
    .upBtn {
        margin: 0;
        position: absolute;
        top: 60%;
        left: 20%;
    }
    #editBtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.5em;
        color: green;
    }
    #backbtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        margin-left: 4em;
        padding: 0.66em;
        color: blue;
    }
    .editInput {
        margin-top: 1em;
    }
    #btnContainer {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: center;
    }
</style>