@model IEnumerable<Movies_Management_System.Models.MovieDto>
@{
    ViewBag.Title = "List";
}


<h1>Movie List</h1>


<div class="container">
    @foreach (var movie in Model)
    {
        <div class="movie">
            <img class="poster" src="~/Content/Images/Movies/@movie.MovieID .jpg" alt="Poster">
            <div class="details">
                <h2 class="title"><a href="/Movie/Details/@movie.MovieID">@movie.MovieTitle</a></h2>
                <p class="movieID">Movie ID: @movie.MovieID</p>
                <p class="director">Director: @movie.Director</p>
                <p class="year">Publication Year: @movie.PubYear</p>
                <p class="ratings">Ratings: @movie.Ratings</p>
                <p class="genres"><a href="/Genre/Details/@movie.GenreID">Genre: @movie.GenreName</a></p>
            </div>
        </div>
    }

</div>
<div class="button-container">

    <a class="button-add" href="/Movie/New">New Movie</a>
    <a class="button-back" href="/">BACK</a>
</div>


<style>
    h1 {
        text-align: center;
        margin-top: 30px;
        color: #444;
    }

    .container {
        max-width: 90%;
        margin: 0 auto;
        padding-right: 30px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .movie {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
    }

    .poster {
        width: 120px;
        height: 180px;
        margin-right: 20px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .details {
        flex: 1;
        color: #333;
    }

    .title {
        font-size: 24px;
        margin: 0 0 10px;
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }

    .button-add {
        padding: 10px 20px;
        background-color: #f44336;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-add:hover {
        background-color: #d32f2f;
    }

    .button-back {
        padding: 10px 20px;
        background-color: #2196f3;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-left: 20px;
    }

    .button-back:hover {
        background-color: #1976d2;
    }
</style>




