@model Movies_Management_System.Models.ViewModels.DetailsClient


@{
    ViewBag.Title = "View";
}

<h1>Movies Management System</h1>
<h3><strong>'@Model.SelectedClient.ClientName'</strong> Client Details</h3>

<div id="btnContainer">
    <a id="backBtn" href="/Client/List">Go back to list</a>
    <a id="editBtn" href="/Client/Edit/@Model.SelectedClient.ClientID">Update Client</a>
    <a id="delBtn" href="/Client/DeleteConfirm/@Model.SelectedClient.ClientID">Delete Client</a>
</div>

<h2><strong>@Model.SelectedClient.ClientName</strong>'s WatchList</h2>

<div>
    <table id="MovieListTable">
        <tr>
            <th id="thID">Movie ID</th>
            <th id="thPubYear">Publication Year</th>
            <th id="thTitle">Title</th>
            <th id="thDirector">Director</th>
            <th id="thRatings">Ratings</th>
            <th id="thGenre">Genre</th>
        </tr>
        @foreach (var movie in Model.KeptMovies)
        {
    <tr>
        <td id="tdID"><a href="/Movie/Details/@movie.MovieID">@movie.MovieID</a></td>
        <td id="tdPubYear"><a href="/Movie/Details/@movie.MovieID">@movie.PubYear</a></td>
        <td id="tdTitle"><a href="/Movie/Details/@movie.MovieID">@movie.MovieTitle</a></td>
        <td id="tdDirector"><a href="/Movie/Details/@movie.MovieID">@movie.Director</a></td>
        <td id="tdRatings"><a href="/Movie/Details/@movie.MovieID">@movie.Ratings</a></td>
        <td id="tdGenre"><a href="/Genre/List">@movie.GenreName</a></td>
    </tr>
        }
    </table>
</div>


<style>
    h1 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold 700;
        margin-top: 2em;
        margin-bottom: 0;
        text-align: center;
    }
    h2 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold 500;
        margin: 1em auto;
        text-align: center;
    }
    h3 {
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold 400;
        margin: 1em auto;
        text-align: center;
    }
    #btnContainer {
        display: flex;
        flex-flow: row;
        justify-content: center;
        margin-bottom:1.5em;
    }
    #backBtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.3em 1em;
        color: gray;
    }
    #editBtn {
        border: 1px solid;
        border-radius: 5px;
        margin: 1em 4em 0 4em;
        padding: 0.3em 1em;
        color: blue;
    }

    #delBtn {
        border: 1px solid;
        border-radius: 5px;
        margin-top: 1em;
        padding: 0.3em 1em;
        color: red;
    }

    #linkBtn {
        color: green;
    }

    th, td {
        border: 1px solid black;
    }

    #thID, #tdID, #thGenre, #tdGenre {
        width: 100px;
        text-align: center;
    }

    #thTitle, #tdTitle {
        width: 340px;
        text-align: center;
    }

    #thDirector, #tdDirector {
        width: 240px;
        text-align: center;
    }

    #thPubYear, #tdPubYear {
        width: 150px;
        text-align: center;
    }

    #thRatings, #tdRatings {
        width: 80px;
        text-align: center;
    }

    #MovieDetailsTable {
        margin-top: 2em;
    }

    .clientsContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .addFav {
        text-align: center;
    }
</style>
